**/*.o
**/*bin
**/*.swp
**/*.swo
**/*.o.tmp
tags
docs/api_doc
scripts/cppcheck_res.txt
scripts/built_in_font/lv_font_*
target
rust/node_modules
wasm/lvgl.html
wasm/lvgl.js
wasm/lvgl.txt
wasm/lvgl.wasm
wasm/test.html
wasm/test.js
wasm/test.txt
wasm/test.wasm
wasm/test-rust.html
wasm/test-rust.js
wasm/test-rust.txt
wasm/test-rust.wasm
clock/ClockTmp.cpp
